  <div class="jumbotron">
    <div class="container">
  <h1>HUT Consultant</h1>
  <p>HUT stands for Hockey Ultimate Team. HUT is a game mode in NHL 14 where you can create your own Ultimate Team. You start out with a pack of average players. Through winning games and trading players you can upgrade your team. You can also buy player packs or buy players with pucks(pucks are rewarded to you when you win games, they are the HUT money). This Program was created to help you create the best team possibe. You can create multiple teams and then compare two of the to see which team is better.</p>
  <p><a class="btn btn-primary btn-lg" role="button" href="http://www.easports.com/nhl/hut14">Learn more</a></p>
</div>
  </div>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Coach</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @teams.each do |team| %>
    <tr>
      <td><%= team.name %></td>
          <td><%= team.coach %></td>
          <td><button><a href="/teams/<%= team.id %>">Show</a></button>
        </td>
      <td><button><a href="/teams/<%= team.id %>/edit">Edit</a></button></td>
        <td><button><a href="/teams/<%= team.id %>/destroy">Destroy</a></button></td>
    </tr>
  <% end %>
  </tbody>
</table>

