<div class="jumbotron">
  <h1><%= @team.name %></h1>
  <div>
    <img src="<%= @team.image_url %>" height="225px" width="250px">
</div>
  <p> <strong>Bio</strong>:<br /></p>
  <p><%= @team.bio %></p>
</div>
<div>
  <h2>
    <strong>Coach:</strong></h2>
  <h3><%= @team.coach %></h3>
</div>
<h3><strong>Players:</strong></h3>
<div class="container">
  <div class="row">
  <% @team.players.each do |player| %>
  <div class="col-md-3">
    <h3><%= player.name %></h3>
    <a href="/players/<%= player.id %>"><img height="300px" width="225px" src="<%= player.image %>"></a>
    </div>
  <% end %>
  </div>
</div>

<button><a href="/teams/<%= @team.id %>/edit">Edit</a></button>
<button><a href="/teams/<%= @team.id %>/destroy">Destroy</a></button>
