<h1>New player for <%= @fplayer.fantasy.name %></h1>

<div>
  <strong>Player</strong>:<br />
  <p><%= @fplayer.player.name %></p>
</div>
<div>
  <strong>Fantasy Team</strong>:<br />
  <p><%= @fplayer.fantasy.name %></p>
</div>
<button><a href="/new_fplayer_for_fantasy/<%= @fplayer.fantasy.id %>">Add Another Player</a></button>
<button><a href="/fplayers/<%= @fplayer.id %>/edit">Edit</a></button>
<button><a href="/fplayers/<%= @fplayer.id %>/destroy">Destroy</a></button>
