<h1>Editing Fantasy #<%= @fantasy.id %></h1>

<form action="/fantasies/<%= @fantasy.id %>/update">
  <div>
    <label for="name">name</label><br />
    <input id="name" name="name" value="<%= @fantasy.name  %>" type="text" />
  </div>
  <div>
    <label for="user_id">User</label><br />
    <select name="user_id">
      <% @users.each do |user| %>
      <option value="<%= user.id %>"><%= user.name %></option>
      <% end %>
    </select>
 </div>
  <div>
    <input type="submit">
  </div>
</form>


