<h1><%= @fantasy.name %></h1>

<div>
  <strong>User</strong>:<br />
  <p><%= @fantasy.user_id %></p>
</div>
<ul>
  <% @fantasy.fplayers.each do |fplayers| %>
  <li><%= fplayers.player.name %></li>
  <% end %>
</ul>
<button><a href="/fantasies/<%= @fantasy.id %>/edit">Edit</a></button>
<button><a href="/fantasies/<%= @fantasy.id %>/destroy">Destroy</a></button>
