<h1><%= @fantasy.name %></h1>

<h3><strong>Owner:</strong></h3>
<ul>
  <li><h4><%= @fantasy.user.name %></h4></li>
</ul>  
<div>Fantasy Team's Players</div>
<ul>
  <% @fantasy.fplayers.each do |fplayers| %>
  <li><a href="/players/<%= fplayers.player.id %>"><%= fplayers.player.name %></a></li>
  <% end %>
</ul>
<button><a href="/new_fplayer_for_fantasy/<%= @fantasy.id %>">Add New Player</a></button>
<button><a href="/fantasies/<%= @fantasy.id %>/edit">Edit</a></button>
<button><a href="/fantasies/<%= @fantasy.id %>/destroy">Destroy</a></button>
